<div class="container">
    <div class="row">

    </div>
    <div class="row">
        <form action="/tag/add" method = 'post'>
            name:<input type="text" name="name" class="form-control"/>
            order:<input type="text" name="order" class="form-control"/>
            description:<input type="text" name="description" class="form-control"/>
            summit:<input type="submit"/>
        </form>
    </div>
</div>