
	<%- partial('headline',{headerNav:"关于我",headerContent:"我非大神，广目无双；我本菜鸟，无限嚣张。"})%>
	<section id="content">
	<div class="container">
		<div class="row">

			<div class="col-lg-12">
				<h4>一个前端初学者</h4>
				<p>
					本人程序员一枚，一直混混沌沌于后端，自学前端一年多，不愿甘当一个死技术宅，追求的是<strong>文艺型码农，诗人般的理科男。</strong>
				</p>
				<p>
                    目前为浙江理工大学计算机系在读研究生，即将毕业，找工作阶段。有兴趣请看<a href="http://myresume.sturgeon.mopaas.com/" target="_blank">我的简历</a>
				</p>
				<p>
                    热爱开源，虽然接触不久。<a href="https://github.com/nanjixiong218" target="_blank">github地址</a>
				</p>

			</div>

		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->

		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<!-- Lists -->
		<div class="row">
			<!-- Unordered Lists -->
			<div class="col-lg-3">
				<h4>喜爱的技术类书籍</h4>
				<ul>
                    <li>《深入浅出nodejs》</li>
                    <li>《精通正则表达式》</li>
                    <li>《javascript框架设计》</li>
                    <li>《深入理解bootstrap》</li>
                    <li>《javascript高级程序设计第三版》</li>
					<li>《高性能html5》</li>
					<li>《软件方法》</li>
					<li>《HTML5 canvas核心技术》</li>
					<li>《精通css》</li>
					<li>《java编程思想》</li>
					<li>《代码大全》</li>
				</ul>
			</div>
			<!-- Unstyled Lists -->
			<div class="col-lg-3">
				<h4>喜爱的小说</h4>
				<ul class="unstyled">
					<li>花季雨季</li>
                    <li>平凡的世界</li>
                    <li>异人傲世录</li>
                    <li>坏蛋是怎样炼成的</li>
                    <li>诛仙</li>
                    <li>飘渺之旅</li>
                    <li>小兵传奇</li>
                    <li>盗墓笔记</li>
					<li>搜神记</li>
					<li>蛮荒记</li>
				</ul>
			</div>
			<!-- Ordered Lists -->
			<div class="col-lg-3">
				<h4>喜爱的影视剧</h4>
				<ol>

					<li>《我和僵尸有个约会》系列</li>
					<li>《血色浪漫》</li>
					<li>《死神来了》系列</li>
					<li>《蝴蝶效应》系列</li>
					<li>《林正英》系列</li>
                </ol>
			</div>
			<!-- Unstyled Lists -->
			<div class="col-lg-3">
				<h4>喜爱运动</h4>
				<ol class="unstyled">
					<li>篮球（得分后卫，投手）</li>
					<li>乒乓球（攻击型选手）</li>
					<li>游泳（目前在学习）</li>
				</ol>
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>
		<!-- end divider -->
		<div class="row">
			<div class="col-lg-4">
				<h4>新技术</h4>
				<blockquote>
					<i class="icon-quote-left icon-2x"></i> 与新技术的任何方面打交道的人，他们确信自己是在做天生的高科技业务……在我们两人看来，他们一般都不是。在这些领域中，那些有根本性突破的研究人员是在做高科技业务。我们所有其他局外人只是他们工作成果的应用者。我们用计算机和其它新技术组件来开发我们的产品或者组织我们的事务
                    <cite>《人件》</cite>
				</blockquote>
			</div>
			<div class="col-lg-4">
				<h4>加班</h4>
				<blockquote>
					<i class="icon-quote-left icon-2x"></i>
                    当一个管理者的智慧无法衡量一支团队的产出的时候，他就会把“工时”当做最后的救命稻草，死死抱住——这是他唯一听得懂的东西了。
                    <cite>寒冬winter</cite>
				</blockquote>
			</div>
			<div class="col-lg-4">
				<h4>知识管理</h4>
                <blockquote>
                    <i class="icon-quote-left icon-2x"></i>
                    时间管理，知识管理，梦想管理，注重output而非input……
                    <cite>玉伯</cite>
                </blockquote>
			</div>
		</div>
		<!-- divider -->
		<div class="row">
			<div class="col-lg-12">
				<div class="solidline">
				</div>
			</div>
		</div>

	</div>
	</section>
