<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active"><%= headerNav%></li>
                </ul>
            </div>
            <div class="col-lg-8">
                <ul class="breadcrumb fontEnd">
                    <li><%= headerContent%></li>
                </ul>
            </div>
        </div>
    </div>
</section>