<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>许</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="许会元的个人主页" />
    <!-- css -->
    <link href="/public/libs/main/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/public/libs/main/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <!--<link href="css/jcarousel.css" rel="stylesheet" />  不需要这个文件-->
    <link href="/public/libs/main/css/flexslider.css" rel="stylesheet" />
    <link href="/public/libs/main/css/style.css" rel="stylesheet" />
    <link href="/public/css/base.css" rel="stylesheet" />


    <!-- Theme skin -->
    <link href="/public/libs/main/skins/default.css" rel="stylesheet" />

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
    <script src="/public/libs/main/js/jquery.js"></script>

</head>
<body>
<div id="wrapper">
<!-- start header -->
<header>
    <div class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span>许</span></a>
                <blockquote style="clear:both">每天做你自己，勤于思考，向着快乐的方向……</blockquote>
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">首页<b class=" icon-angle-down"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/">starHome</a></li>
                            <li><a href="/index" target="_blank">传统首页</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle " data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="false">小功能<b class=" icon-angle-down"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/static/ng-todo.html" target="_blank">Todo</a></li>
                            <li><a href="javascript:alert('还未上线！')">文件批量重命名</a></li>
                            <li><a href="javascript:alert('还未上线！')">记账系统</a></li>
                        </ul>
                    </li>
                    <li><a href="/blog">我的博客</a></li>
                    <li><a href="/about">关于我</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- end header -->
<%- body%>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">联系我</h5>
                    <address>
                        <strong>浙江理工大学</strong><br>
                        企业智能实验室
                        </address>
                    <p>
                        <i class="icon-phone"></i> 15958198067<br>
                        <i class="icon-envelope-alt"></i> 695540791@qq.com
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">导航</h5>
                    <ul class="link-list">
                        <li><a href="/">myStarIndex</a></li>
                        <li><a href="/index"></a>首页</li>
                        <li><a href="/blog">博客</a></li>
                        <li><a href="/about">关于我</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">友情链接</h5>
                    <ul class="link-list">
                        <li><a href="" target="_blank">一个年轻有为的二货青年</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="widget">
                    <h5 class="widgetheading">最爱QQ群</h5>
                    <div class="flickr_badge">ECMASCRIPT(前端委员会)</div>
                    <div class="flickr_badge">群号： 162605336  </div>
                    <div class="clear">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="copyright">
                        <p>
                            <span>&copy; xu 2014 All right reserved.  </span>
                        </p>

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="copyright">
                        <a href="http://www.miitbeian.gov.cn/" >浙ICP备14015849号-1</a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <ul class="social-network">
                        <li><a href="https://github.com/nanjixiong218" data-placement="top" title="github"><i class="fa fa-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
<!-- javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="/public/libs/main/js/jquery.easing.1.3.js"></script>
<script src="/public/libs/main/js/bootstrap.min.js"></script>
<script src="/public/libs/main/js/jquery.fancybox.pack.js"></script>
<script src="/public/libs/main/js/jquery.fancybox-media.js"></script>
<script src="/public/libs/main/js/google-code-prettify/prettify.js"></script>
<script src="/public/libs/main/js/portfolio/jquery.quicksand.js"></script>
<script src="/public/libs/main/js/portfolio/setting.js"></script>
<script src="/public/libs/main/js/jquery.flexslider.js"></script>
<script src="/public/libs/main/js/animate.js"></script>
<script src="/public/libs/main/js/custom.js"></script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253109480'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1253109480%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</body>
</html>
