
<aside class="right-sidebar">
    <div class="widget">
        <form class="form-search">
            <input class="form-control" type="text" placeholder="Search..">
        </form>
    </div>
    <div class="widget">
        <h5 class="widgetheading">分类标签</h5>
        <ul class="cat">
            <% if(typeof(all_tags) !==undefined){%>
            <% for(var i = 0 ,length = all_tags.length;i < length ;i++) {%>
            <li><i class="icon-angle-right"></i><a href="/tag/list_topic/<%= all_tags[i]._id%>"><%= all_tags[i].name %></a><span> (<%=all_tags[i].topic_count%>)</span></li>
            <% }%>
            <% }%>
        </ul>
    </div>
    <div class="widget">
        <h5 class="widgetheading">推荐连接</h5>
        <ul class="recent">
            <li>
                <h6><a href="http://www.cnblogs.com/TomXu/" target="_blank">tom大叔</a></h6>
                <p>
                    牛人！看他的深入理解javascript系列长大的^^，买了他的书籍《深入理解bootstrap》
                </p>
            </li>
            <li>
                <h6><a href="http://www.cnblogs.com/rubylouvre/" target="_blank">司徒正美</a></h6>
                <p>
                    同样牛人！bom,dom,浏览器兼容性，框架设计方面研究很深入。同样买了他的书《javascript框架设计》
                </p>
            </li>
            <li>
                <h6><a href="https://github.com/JacksonTian">朴灵</a></h6>
                <p>
                    国内nodejs布道者，《深入浅出nodejs》是对我而言，我所读过的书中受益最大的一本书。
                </p>
            </li>
            <li>
                <h6><a href="#">玉伯</a></h6>
                <p>
                    此人想必不需多介绍
                </p>
            </li>
            <li>
                <h6><a href="http://www.ruanyifeng.com/home.html"></a>阮一峰</h6>
                <p>
                    经常读他的博客，也是我的榜样！
                </p>
            </li>
            <li>
                <h6><a href="https://www.byvoid.com/">BYVoid</a></h6>
                <p>
                    又一少年天才学霸，比我要小两届（但人家是清华的），确让人敬仰，我辈楷模！
                </p>
            </li>
            <li>
                <h6><a href="https://www.byvoid.com/">cnode社区</a></h6>
                <p>
                    国内nodejs专业社区，虽然可用性有些差，不过最为node爱好者还是要推荐！
                </p>
            </li>
            <li>
                <h6><a href="http://www.75team.com/">奇舞团</a></h6>
                <p>
                    我最想进的几大前端团队之一，360旗下。
                </p>
            </li>
            <li>
                <h6><a href="http://ued.taobao.com/blog/">淘宝UED</a></h6>
                <p>
                    我最想进的几大前端团队之一，阿里的。
                </p>
            </li>
            <li>
                <h6><a href="http://www.alloyteam.com/">Alloy</a></h6>
                <p>
                    我最想进的几大前端团队之一，腾讯的。
                </p>
            </li>
            <li>
                <h6>前端关注的几大标准</h6>
                <ul>
                    <li><a href="http://www.w3.org/Protocols/rfc2616/rfc2616.html">HTTP1.1</a></li>
                    <li><a href="http://www.ecma-international.org/ecma-262/5.1/">ECMAScript</a></li>
                    <li><a href="http://www.w3.org/TR/">W3C</a></li>
                    <li><a href="http://wiki.commonjs.org/wiki/Modules/1.0">CommonJs</a></li>
                    <li><a href="http://www.w3.org/Style/CSS/specs.en.html">css3</a></li>
                    <li><a href="http://www.w3.org/html/wg/drafts/html/master/">html5</a></li>

                </ul>
            </li>
        </ul>
    </div>

</aside>