.tag_selectable {
    margin:5px 10px;
    padding:5px 10px;
    background-color: #f5f5f5;
}
.tag_select{
    margin:5px 10px;
    padding:5px 10px;
    background-color: aquamarine;
}
.tag_info{
    margin:5px 10px;
    padding:5px 10px;
    background-color: darkseagreen;
}