.tag_selectable {
    margin:5px 10px;
    padding:5px 10px;
    background-color: floralwhite;
}
.tag_select{
    margin:5px 10px;
    padding:5px 10px;
    background-color: rgba(0,0,200,0.9);
}
.tag_info{
    margin:5px 10px;
    padding:5px 10px;
    background-color: darkseagreen;
}