<!DOCTYPE html>  
<html>  
<head>  
<meta charset="utf-8" />  
<title>despersion</title>
<style>  
</style>  
<script type="text/javascript" src="/public/javascripts/libs/jquery/jquery.1.11.1.js"></script>
<script type="text/javascript" src="/public/javascripts/libs/html2canvas.js"></script>
<script type="text/javascript" src="/public/javascripts/myOwnPluge/despersion.js"></script>
<script type="text/javascript">
 
	window.onload = loaded;
	function loaded(){
	    $("#despersion").despersion({width:"360",height:"450",img:"url('/public/img/girl.jpg')"});
	}
</script>
</head>  
  
<body >
 
<div id="despersion"></div>

</body>
</html>  


