<!DOCTYPE html>
<html lang="en">
<head>
    <title>父亲节</title>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link type = "text/css" rel = "stylesheet" href="/public/javascripts/libs/bootstrap-3.1.1-dist/css/bootstrap.css">
    <link  type = "text/css" href="/public/javascripts/libs/bootstrap-3.1.1-dist/css/base.css" rel="stylesheet"/>

    <script type="text/javascript" src="/public/javascripts/libs/jquery/jquery.1.11.1.js"></script>
    <script type="text/javascript" src="/public/javascripts/libs/bootstrap-3.1.1-dist/js/bootstrap.js"></script>
    <script src="/public/javascripts/libs/jqueryPluge/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="/public/javascripts/myOwnPluge/tile.js"></script>
    <script>
        $(document).ready(function(){
            var video = document.getElementById("video1");
            var played = function(event){
                document.getElementById("audio1").pause();
            };
            var paused = function(event){
                document.getElementById("audio1").play();
            };
            function addEvent(el){
                if(el.addEventListener){
                    el.addEventListener("play",played);
                    el.addEventListener("pause",paused);
                }else{
                    el.attachEvent("play",eve);
                    el.addEventListener("pause",paused);
                }
            }
            addEvent(video);
        });
    </script>
<style type="text/css">
    h1, h2, h3, h4, h5, h6 {
        text-align: center;
        margin: 0 0 0.5em 0;
    }

    h1 {
        font-size: 3em;
        line-height: 1.4em;
        letter-spacing: 2px;
        text-shadow: 2px 2px 5px #000;
    }
    .jumbotron{
        height:650px;
    }
    body{
        min-width: 1320px;
    }


</style>
</head>
<body>
<header>
<div class="carousel slide" id="carousel-container" data-ride="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="jumbotron">
                <div class="container">
                    <h1>祝爸爸父亲节快乐</h1>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    <blockquote style="text-align: center;font-size: 15pt">父爱同母爱一样的无私,他不求回报;父爱是一种默默无闻,寓于无形之中的一种感情,只有用心的人才能体会。
                    <small >——琼瑶</small>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="jumbotron">
                <div class="container">
                    <h1>金鸡独立</h1>
                    <img src="/public/resource/fatherDay/image/header/father1.jpg" width="100%" height="100%"/>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="jumbotron">
                <div class="container">
                    <h1>会满雕弓如满月</h1>
                    <img src="/public/resource/fatherDay/image/header/father2.jpg" width="100%" height="100%"/>
                </div>
            </div>
        </div>
    </div>
    <ol class="carousel-indicators">
        <li data-slide-to="0" data-target="#carousel-container" class="active"></li>
        <li data-slide-to="1" data-target="#carousel-container"></li>
        <li data-slide-to="2" data-target="#carousel-container"></li>
    </ol>
    <a data-slide="prev" href="#carousel-container" class="left carousel-control">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a data-slide="next" href="#carousel-container" class="right carousel-control">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

</header>

<!--==============================content================================-->
<section id="content">
        <div class="tile-group seven bg-green2">
            <div class="tile-group-title fg-white">帅气的老爸</div>
            <div class="tile bg-orange quadro-vertical">

            </div>
            <div class="tile six-align quadro-vertical bg-green" data-toggle="tile" data-direction="slideLeft"
                 data-period="4000" data-duration="2000" data-easing="easeOutCirc">
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/f/0.jpg" />
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/f/1.jpg" />
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/f/2.jpg" />
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/f/3.jpg" />
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/f/4.jpg" />
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/f/5.jpg" />
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/f/6.jpg" />
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/f/7.jpg" />
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/f/8.jpg" />
                </div>


            </div>
    </div>
        <div class="tile-group triple bg-blue4 " >
            <div class="tile-group-title fg-white">想对爸爸说</div>
            <div class="tile bg-orange triple" data-toggle="tile" data-direction="slideLeftRight"
                 data-duration="1000" data-period="8000" data-easing="linear">

                <div class="tile-content bg-green1 fg-white">
                    老爸别抽烟，保重身体多锻炼； <br/>  老爸少喝酒，饭后逛逛百步走。
                </div>
                <div class="tile-content bg-blue11 fg-white">
                    老爸莫烦恼，豁达洒脱精神好；<br/> 老爸莫劳累，健康开心最珍贵。
                </div>
                <div class="tile-content bg-green3 fg-white">
                    老爸的教诲像一盏灯，为我照亮前程；老爸的关怀像一把伞，为我遮蔽风雨。
                </div>
                <div class="tile-content bg-yellow2 fg-white">
                    今天是父亲节，老爸<br/> 祝您节日快乐！
                </div>
            </div>

            <div class="tile bg-green4 triple double-vertical "  data-toggle="tile" data-direction="slideUpDown"
                 data-duration="1000" data-period="3000" data-easing="linear">
                <div class="tile-content image ">
                    <img src="/public/resource/fatherDay/image/fz/0.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fz/1.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fz/2.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fz/3.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fz/4.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fz/5.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fz/6.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fz/7.jpg"/>
                </div>
                <div class="brand bg-red1">
                    <span class="label">父子二人</span>
                </div>
            </div>
            <div class="tile bg-purple triple">
                <div class="tile-content icon">
                    <br/>
                    <audio id="audio1" src="/public/resource/fatherDay/audio/father.mp3" controls="controls" loop="loop" autoplay="autoplay"></audio>
                </div>
                <div class="brand bg-red1">
                    <span class="label">献给父亲的歌</span>
                </div>
            </div>
        </div>
    <div class="tile-group seven bg-blue4">
        <div class="tile-group-title fg-white">老爸的兴趣</div>
        <div class="tile five-align quadro-vertical bg-red1" >
            <div class="tile-content">
                <video id="video1" src="/public/resource/fatherDay/video/father.mp4"  controls="controls" width="100%" height="95%"></video>
            </div>
        </div>

        <div class="tile double bg-orange">
            <div class="tile-content image">
                <img src="/public/resource/fatherDay/image/xq/0.jpg"/>
            </div>
            <div class="brand bg-orange">
                <span class="label">松花石</span>
            </div>
        </div>
        <div class="tile double bg-purple">
            <div class="tile-content image">
                <img src="/public/resource/fatherDay/image/xq/1.jpg"/>
            </div>
            <div class="brand bg-purple">
                <span class="label">采蘑菇</span>
            </div>
        </div>
        <div class="tile double bg-pink2">
            <div class="tile-content image">
                <img src="/public/resource/fatherDay/image/xq/2.jpg"/>
            </div>
            <div class="brand bg-pink2">
                <span class="label">养花</span>
            </div>
        </div>
        <div class="tile double bg-blue12">
            <div class="tile-content image">
                <img src="/public/resource/fatherDay/image/xq/3.jpg"/>
            </div>
            <div class="brand bg-blue12">
                <span class="label">钓鱼</span>
            </div>
        </div>

    </div>
        <div class="tile-group triple bg-green2">
            <div class="tile-group-title fg-white">家庭</div>
            <div class="tile triple double-vertical bg-yellow2" data-toggle="tile" data-direction="slideDown"
                 data-period="5000" data-duration="3000" data-easing="linear">
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fm/0.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fm/1.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fm/2.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fm/3.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fm/4.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fm/5.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fm/6.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fm/7.jpg"/>
                </div>
                <div class="brand bg-purple2">
                    <span class="label">父母爱情</span>
                </div>
            </div>
            <div class="tile triple double-vertical bg-yellow2" data-toggle="tile" data-direction="slideRight"
                 data-period="6000" data-duration="2000" data-easing="easeInQuart">
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fan/0.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fan/1.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fan/2.jpg"/>
                </div>
                <div class="tile-content image">
                    <img src="/public/resource/fatherDay/image/fan/3.jpg"/>
                </div>
                <div class="brand bg-purple2">
                    <span class="label">甜蜜家庭</span>
                </div>
            </div>
        </div>

    </div>

</section>
</body>
</html>