<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>孟影</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/javascripts/modules/libs/jquerypluge/3DGallery/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="/javascripts/modules/libs/jquerypluge/3DGallery/css/style.css" />
    <script type="text/javascript" src="/javascripts/modules/libs/jquerypluge/3DGallery/js/modernizr.custom.53451.js"></script>
</head>
<body>
<div class="container">
    <!-- Codrops top bar -->
    <div class="codrops-top">
        <a href="/home">
            <strong>&laquo; 返回 </strong>
        </a>
                <span class="right">
					<a href="/home/father" target="_blank">father</a>
                    <a href="/home/mother">
                        <strong>mother</strong>
                    </a>
                </span>
        <div class="clr"></div>
    </div><!--/ Codrops top bar -->
    <header>
    </header>
    <section id="dg-container" class="dg-container">
        <div class="dg-wrapper">
            <a href="#"><img src="/images/meng2.jpg" alt="image02"><div></div></a>
            <a href="#"><img src="/images/meng3.jpg" alt="image03"><div></div></a>
            <a href="#"><img src="/images/meng4.jpg" alt="image04"><div></div></a>
            <a href="#"><img src="/images/meng5.jpg" alt="image05"><div></div></a>
            <a href="#"><img src="/images/meng6.jpg" alt="image06"><div></div></a>
            <a href="#"><img src="/images/meng7.jpg" alt="image07"><div></div></a>
            <a href="#"><img src="/images/meng8.jpg" alt="image08"><div></div></a>
            <a href="#"><img src="/images/meng9.jpg" alt="image09"><div></div></a>
        </div>
        <nav>
            <span class="dg-prev">&lt;</span>
            <span class="dg-next">&gt;</span>
        </nav>
    </section>
</div>
<script type="text/javascript" src="/javascripts/modules/jquery/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="/javascripts/modules/libs/jquerypluge/3DGallery/js/jquery.gallery.js"></script>
<script type="text/javascript">
    $(function() {
        $('#dg-container').gallery();
    });
</script>
</body>
</html>
