<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
        <head>
            <title>mymother</title>

            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <link rel="stylesheet" type="text/css" href="/public/libs/myMother/css/carousel.css" media="screen"/>
            <link rel="stylesheet" type="text/css" href="/public/libs/myMother/css/style.css" media="screen"/>

            <style type="text/css">
                body{
                    background:url('/public/libs/myMother/image/stardust.jpg');
                }
            </style>
        </head>
        <body>
            <div id="wide-wrapper">
                <div id="header">

                </div>

                <ul id="carousel">
                    <li><img src="/public/resource/myMother/image/mother1.jpg" width="120px" height="100px"/></li>
                    <li><img src="/public/resource/myMother/image/mother2.jpg" width="120px" height="100px"/></li>
                    <li><img src="/public/resource/myMother/image/mother3.jpg" width="120px" height="100px"/></li>
                    <li><img src="/public/resource/myMother/image/mother4.jpg" width="120px" height="100px"/></li>
                    <li><img src="/public/resource/myMother/image/mother5.jpg" width="120px" height="100px"/></li>
                    <li><img src="/public/resource/myMother/image/mother6.jpg" width="120px" height="100px"/></li>
                    <li><img src="/public/resource/myMother/image/mother7.jpg" width="120px" height="100px"/></li>
                    <li><img src="/public/resource/myMother/image/mother8.jpg" width="120px" height="100px"/></li>
                </ul>
            </div>
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253109480'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1253109480%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
        </body>
        <script type="text/javascript" src="/public/libs/myMother/js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="/public/libs/myMother/js/jquery.carousel.min.js"></script>
        <script type="text/javascript" src="/public/libs/myMother/js/jquery.mousewheel.js"></script>
        <script type="text/javascript" >
            $(document).ready(function(){
                $("#carousel").carousel({
                    width:870,
                    height:350,
                    horizontalRadius:270,
                    verticalRadius:85,
                    resize:false,
                    mouseScroll:true,
                    mouseDrag:true,
                    scaleRatio:0.4,
                    scrollbar:false,
                    tooltip:false,
                    mousewheel:false,
                    mouseWheelReverse:false

                });
            });
        </script>
    </html>

